/* =============== GLOBAL =============== */
body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  overflow-x: hidden;
}

.mentorgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr,1.5fr);
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
    justify-content: space-around;
    place-items: center;
    width: 80dvw;
    margin: 0 auto;
    
}

.discr-img {
    grid-column: 1/2;
  width: 30dvw;
    height: 80dvh;
  border-radius: 10px;
}
.discr-txt {
    grid-column: 2/3;
  width: 50dvw;
    height: 80dvh;
  border-radius: 10px;
  background-color: white;
}
    .feature1 {
        grid-column: 1/3;
    width: 60dvw;
        height: 80dvh;
    border-radius: 10px;
    background-color: white;
    }
    .feature2 {
    grid-column: 1/3;
  width: 60dvw;
    height: 80dvh;
  border-radius: 10px;
  background-color: white;
}
    .feature3 {
        grid-column: 1/3;
    width: 60dvw;
        height: 80dvh;
    border-radius: 10px;
    background-color: white;
    }
    .img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
